## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[40, 31, 45, 85, 84, 95, 9, 69, 41, 1, 82, 2, 20, 66, 55, 61, 94, 58, 92, 76, 15, 53, 30, 71, 88, 56, 5, 62, 99, 80, 98, 75, 0, 50, 29, 18, 87, 16, 38, 70, 90, 74, 43, 46, 97, 23, 49, 63, 77, 78, 54, 51, 12, 4, 96, 21, 3, 81, 68, 86, 59, 83, 14, 48, 64, 34, 42, 28, 22, 39, 89, 6, 25, 79, 27, 17, 57, 65, 13, 33]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1))
print('yes')

{0, 1, 2, 3, 4, 5, 6, 9, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 33, 34, 38, 39, 40, 41, 42, 43, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99}
80
yes

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = random.choices(range(100), k = 80)


print(sample_list_2)

[51, 90, 52, 98, 51, 59, 45, 22, 88, 74, 3, 1, 23, 68, 37, 88, 14, 77, 24, 29, 48, 68, 5, 50, 87, 71, 25, 26, 5, 6, 56, 81, 88, 83, 44, 52, 48, 30, 6, 56, 52, 88, 37, 2, 6, 19, 15, 54, 14, 44, 17, 27, 11, 76, 97, 98, 36, 6, 26, 1, 19, 38, 34, 72, 9, 13, 69, 21, 97, 14, 37, 38, 64, 62, 52, 8, 54, 62, 39, 8]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{1, 2, 3, 5, 6, 8, 9, 11, 13, 14, 15, 17, 19, 21, 22, 23, 24, 25, 26, 27, 29, 30, 34, 36, 37, 38, 39, 44, 45, 48, 50, 51, 52, 54, 56, 59, 62, 64, 68, 69, 71, 72, 74, 76, 77, 81, 83, 87, 88, 90, 97, 98}
52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:

print('set1:', set1)
print('set2:', set2)

set31 = set1 - set2
print('set31:', set31)

set3 = set1.difference(set2)
print('set3:', set3)

set1: {0, 1, 2, 3, 4, 5, 6, 9, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 33, 34, 38, 39, 40, 41, 42, 43, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99}
set2: {1, 2, 3, 5, 6, 8, 9, 11, 13, 14, 15, 17, 19, 21, 22, 23, 24, 25, 26, 27, 29, 30, 34, 36, 37, 38, 39, 44, 45, 48, 50, 51, 52, 54, 56, 59, 62, 64, 68, 69, 71, 72, 74, 76, 77, 81, 83, 87, 88, 90, 97, 98}
set31: {0, 4, 12, 16, 18, 20, 28, 31, 33, 40, 41, 42, 43, 46, 49, 53, 55, 57, 58, 61, 63, 65, 66, 70, 75, 78, 79, 80, 82, 84, 85, 86, 89, 92, 94, 95, 96, 99}
set3: {0, 4, 12, 16, 18, 20, 28, 31, 33, 40, 41, 42, 43, 46, 49, 53, 55, 57, 58, 61, 63, 65, 66, 70, 75, 78, 79, 80, 82, 84, 85, 86, 89, 92, 94, 95, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
set4 = set2.difference(set1)
print(set4)

{36, 37, 8, 72, 11, 44, 19, 52, 24, 26}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:

set5 = set1.intersection(set2)
print(set5)

{1, 2, 3, 5, 6, 9, 13, 14, 15, 17, 21, 22, 23, 25, 27, 29, 30, 34, 38, 39, 45, 48, 50, 51, 54, 56, 59, 62, 64, 68, 69, 71, 74, 76, 77, 81, 83, 87, 88, 90, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here

#set 1: {0, 1, 2, 3, 4, 5, 6, 9, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 33, 34, 38, 39, 40, 41, 42, 43, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99}
#set 1 is with replacement

#set 2: {1, 2, 3, 5, 6, 8, 9, 11, 13, 14, 15, 17, 19, 21, 22, 23, 24, 25, 26, 27, 29, 30, 34, 36, 37, 38, 39, 44, 45, 48, 50, 51, 52, 54, 56, 59, 62, 64, 68, 69, 71, 72, 74, 76, 77, 81, 83, 87, 88, 90, 97, 98}
#set 2 is without replacement

#set3: {0, 4, 12, 16, 18, 20, 28, 31, 33, 40, 41, 42, 43, 46, 49, 53, 55, 57, 58, 61, 63, 65, 66, 70, 75, 78, 79, 80, 82, 84, 85, 86, 89, 92, 94, 95, 96, 99}
#set3 =  elements present in set1 but not in set2
#set3 is set1 - set2

#set4 = {36, 37, 8, 72, 11, 44, 19, 52, 24, 26}
#set4 =  elements present in set2 but not in set1
#set4 is set2 - set1

#set 5 = {1, 2, 3, 5, 6, 9, 13, 14, 15, 17, 21, 22, 23, 25, 27, 29, 30, 34, 38, 39, 45, 48, 50, 51, 54, 56, 59, 62, 64, 68, 69, 71, 74, 76, 77, 81, 83, 87, 88, 90, 97, 98}
#set5 = elements shared between set1 and set2 (venn diagram?)

relationship = 
set3 = set1 - set2
set4 = set2 - set1

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
52
38
10
42

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6 = set()
print(set6)
print(type(set6))

set()
<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 9, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 33, 34, 38, 39, 40, 41, 42, 43, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
if set1 == set6:
    print(True)
else:
    print(False)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
set1inset2 = set1.issubset(set2)
print(set1inset2)

set1inset3 = set1.issubset(set3)
print(set1inset3)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here


set3.union(set4, set5)
print(set3)

set1.union(set2)
print(set1)

{0, 4, 12, 16, 18, 20, 28, 31, 33, 40, 41, 42, 43, 46, 49, 53, 55, 57, 58, 61, 63, 65, 66, 70, 75, 78, 79, 80, 82, 84, 85, 86, 89, 92, 94, 95, 96, 99}
{0, 1, 2, 3, 4, 5, 6, 9, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 33, 34, 38, 39, 40, 41, 42, 43, 45, 46, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove an element from `set1`.

In [17]:
# Your code here
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [20]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)
print(set1)

#use difference and/or remove when coming back to on Tuesday
#also come back to maths equation
#difference_update()	
#Removes the items in this set that are also included in another, specified set

{2, 3, 4, 5, 6, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 25, 27, 28, 30, 33, 34, 38, 40, 42, 43, 45, 46, 48, 50, 53, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 68, 70, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 94, 95, 96, 97, 98}